/* Top bar */
#topBar {
    -fx-background-color: rgb(46, 47, 48);
}

/* Main panel */
#mainPanel {
    -fx-background-color: rgb(18, 18, 19);
}

/* Calendar grid */
#calendar {
    -fx-background-color: rgb(18, 18, 19);
}

/* Navigation buttons */
#prevMonthButton, #resetMonthButton, #nextMonthButton {
    -fx-background-color: rgb(37, 37, 37);
    -fx-border-width: 0;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-background-radius: 6px;
}

#resetMonthButton {
    -fx-pref-width: 55px;
}

/* Side panel */
#sidePanel {
    -fx-background-color: rgb(34, 35, 36);
}